:root {
  --backGroundColor: white;
  --divBackGroundColor: orange;
  --textBackGroundColor: grey;
  --showcardBackGroundColor: navy;
  --hoverColor: rgb(222, 219, 219);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  background-color: var(--backGroundColor);
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--backGroundColor);
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(/pics/header-bground-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 90%;
  opacity: 0.8;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1100px) {
  header {
    display: block;
    overflow: auto;
    height: auto;
    width: 100%;
  }
}
#main-section-header-p {
  font-size: 20px;
}
.top-section-header {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  padding: 0px 30px;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}

#top-section-header-logo {
  color: var(--backGroundColor);
  font-size: 50px;
  text-decoration: none;
  font-weight: bold;
}

#top-section-header-navbar {
  display: flex;
  flex-direction: row;
}

ul > li {
  margin: 0px 10px;
  padding: 10px;
  color: var(--backGroundColor);
  font-weight: bold;
  font-size: 25px;
  list-style-type: none;
}

ul > li:hover {
  background-color: var(--backGroundColor);
  color: black;
  border-radius: 5px;
  font-weight: bold;
}
/*dropdown list edit */

ul > li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  color: black;
}

.dropdown-content {
  display: none;
  position: relative;
  z-index: 1;
  max-width: 160px;
  box-shadow: 5px 8px 16px 0px rgb(255, 255, 255);
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: var(--hoverColor);
}

.dropdown:hover .dropdown-content {
  display: block;
}
.main-section-header {
  width: 100%;
  color: var(--backGroundColor);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-section-header a:hover {
  background-color: var(--hoverColor);
}
#main-section-header-h2 {
  font-size: 70px;
  margin: 0px;
}

#main-section-header-p {
  font-size: 20px;
  width: 50%;
  padding: 5px;
  border-radius: 10px;
}

#link-readmore-section-header {
  padding: 10px;
  color: var(--backGroundColor);
  border: 3px var(--backGroundColor) solid;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  width: 150px;
  margin-bottom: 10px;
}

#link-readmore-section-header:hover {
  color: black;
}

.div-dots-main-section-header {
  text-align: center;
  margin-bottom: 20px;
  align-self: flex-end;
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  max-width: 10px;
  margin: 0 2px;
  background-color: var(--backGroundColor);
  border-radius: 50%;
  display: inline-block;
}

.dot:hover {
  background-color: var(--hoverColor);
}

#welcome {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--backGroundColor);
  margin: 30px 0px 0px;
}
.div-content-welcome {
  width: 90%;
  height: 100%;
  margin: 60px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 0px;
}

#welcome-h2 {
  width: 100%;
  margin: 0px;
  font-size: 55px;
  margin-top: 10px;
}
#welcome-p {
  margin: 0px;
  width: 80%;
  font-size: 25px;
}
#welcome-pic {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
  margin: 0px;
}

.div-content-whatwedo {
  width: 90%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}

#whatwedo-h2 {
  width: 100%;
  margin: 50px 0px;
  font-size: 55px;
}

.div-showcards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.showcard {
  width: 25%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.showcard:hover {
  background-color: rgba(203, 203, 203, 0.94);
}
.div-showcard {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.apple-logo-list-type {
  width: 35px;
  margin-right: 7px;
}

#avatar-h3-link {
  font-size: 30px;
  margin: 10px 0px 0px 0px;
  text-decoration: none;
  color: black;
}

#avatar-p {
  margin: 10px 15px;
  color: black;
}
.avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 15px;
}

#statistics {
  height: 100vh;
  width: 100%;
  background-image: url(/pics/statistics-bground-img.jpg);
  background-repeat: no-repeat;
  background-size: unset;
  background-position-x: -200px;
  background-position-y: 38%;
  opacity: 0.5;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}

#statistics-h2 {
  width: 90%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--backGroundColor);
  font-size: 60px;
}
.div-stat-showcard {
  width: 85%;
  height: 80%;
  display: flex;
  flex-direction: row;
}
.stat-card {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.stat-h3 {
  font-size: 130px;
  margin: 0px;
}

.stat-h4 {
  height: 30%;
  font-size: 20px;
  margin: 0px;
}

.div-services-content {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.service-content-left {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: left;
  text-align: left;
  flex-direction: column;
}

#white-box-h3 {
  width: 100%;
  margin: 0px;
  font-size: 35px;
  font-weight: bold;
}

#white-box-p {
  font-weight: bold;
  font-size: 13px;
  padding-right: 30px;
  color: gray;
}

.service-content-right {
  width: 70%;
  height: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.orange-box {
  width: 50%;
  height: 50%;
  background-image: url(/pics/Max-the-corgi-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  border: 5px solid white;
  object-fit: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}

.apple-logo {
  width: 80px;
  color: orange;
}
#orange-box-h3 {
  font-size: 50px;
  color: var(--backGroundColor);
  margin: 0px;
}

#orange-box-p {
  font-size: 20px;
  color: var(--backGroundColor);
}

footer p {
  font-weight: lighter;
  font-size: 10px;
  color: var(--textBackGroundColor);
}
